<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.DeptMapper">
<select id="getEmpStepTwo" resultType="dept">
    select *
    from d_dept where did=#{did};
</select>
    <resultMap id="deptAndEmpResultMap" type="dept">
        <id property="did" column="did"></id>
        <result property="deptName" column="dept_name"></result>

        <collection property="emps" ofType="Emp">
            <id property="eid" column="eid"></id>
            <result property="empName" column="emp_name"></result>
            <result property="age" column="age"></result>
            <result property="did" column="did"></result>
        </collection>
    </resultMap>

    <select id="getDeptAndEmp" resultMap="deptAndEmpResultMap">
        select *
        from d_dept left join t_emp on d_dept.did=t_emp.did where d_dept.did=#{did};
    </select>


    <resultMap id="getDeptAndEmpByStepOneResultMap" type="dept">
        <id property="did" column="did"></id>
        <result property="deptName" column="dept_name"></result>
        <collection property="emps" select="com.mybatis.mapper.EmpMapper.getEmpAndDeptStepTwo" column="did">
        </collection>
    </resultMap>
<!--    <select id=""-->
    <select id="getDeptAndEmpByStepOne" resultMap="getDeptAndEmpByStepOneResultMap">
        select *
        from d_dept where did=#{did};

    </select>
</mapper>